.totalLeave {
    position: fixed;
    left: 0vw;
    top: 0;
    z-index: 20;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.totalLeaveDiv1 {
    padding-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width:310px) {
    .totalLeaveDiv1 {
        margin-top: 5rem;
        margin-left: 0.5rem;
        height: 80%;
        width: 95%;
    }
}

@media (min-width:350px) {
    .totalLeaveDiv1 {
        margin-top: 5rem;
        margin-left: 2rem;
        height: 75%;
        width: 85%;
    }
}


@media (min-width: 640px) {
    .totalLeaveDiv1 {
        margin-top: 4rem;
        margin-left: 6rem;
        width: 70%;
    }
}

@media (min-width: 768px) {
    .totalLeaveDiv1 {
        margin-top: 4rem;
        margin-left: 10rem;


        width: 60%;
    }
}

@media (min-width: 1024px) {
    .totalLeaveDiv1 {

        margin-top: 5rem;
        margin-left: 14rem;
        width: 60%;
        height: 75%;
    }
}

@media (min-width: 1280px) {
    .totalLeaveDiv1 {
        margin-top: 5rem;
        margin-left: 18rem;
        width: 60%;
        height: 75%;
    }
}


.totalLeaveDiv2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D1D5DB;


}

.totalLeaveHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

}

.totalLeaveHeaderDiv {
    color: #1F2937;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    top: 0.5vw;
}

.totalLeaveCloseButton {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: none;
}

.totalLeaveTableContainer {
    max-width: 100%;
    overflow: hidden;
    padding: 0.75rem;


}

.approvalTable {
    min-width: 100%;
    line-height: 1.5;
}

.totalLeaveTableContainer table,
.totalLeaveTableContainer th,
.totalLeaveTableContainer td {
    padding: 0.5rem;
    text-align: left;

    border: 1px solid #D1D5DB;
    border-collapse: collapse;

}

.approvalTableHead {
    font-size: 0.75rem;

    font-weight: 600;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.approvalTableHeading {
    margin-left: 1rem;
    font-weight: 500;
    padding: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    text-transform: uppercase;
    letter-spacing: 0.05em;

}

.approvalTableDescription {
    margin-left: 1rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-size: 0.75rem;


    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));

    letter-spacing: 0.05em;
    ;
}

.approveButtonDiv {
    position: relative;
    top: 1vw;

}

.approveButton {
    width: 8rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    background-image: linear-gradient(to bottom right,
            var(--tw-gradient-stops));
    --tw-gradient-from: #f97316;
    --tw-gradient-to:
        rgb(249 115 22 / 0);
    --tw-gradient-stops: var(--tw-gradient-from),
        var(--tw-gradient-to);
    --tw-gradient-to: #f87171;
    font-weight: 700;
    border-radius: 100px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: center;
    margin-right: 0.5em;
    margin-bottom: 0.5rem;
    border: none;

}