// @import '~@fluentui/react/dist/sass/References.scss';
.profileSection {
  z-index: 10;
}

.profilesection_layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.activeMenu {
  flex-direction: row;
}
.activeMenuNot {
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.employeeNameCard {
  background-color: white;
  overflow: hidden;
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 0.75em;
  position: relative;
  height: 7rem;
  background-size: cover;
  background-position: center;
  --tw-blur: blur(0);
  --tw-brightness: brightness(100%);
  --tw-contrast: contrast(100%);
  --tw-grayscale: grayscale(0);
  --tw-hue-rotate: hue-rotate(0deg);
  --tw-invert: invert(0);
  --tw-saturate: saturate(100%);
  --tw-sepia: sepia(0);
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));

  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.employeeNameCardActiveMenu {
  background-color: white;
  width: 550px;
  margin-left: 2rem;
}
.employeeNameCardActiveMenuNot {
  background-color: white;
  width: 80%;
}
.nameBoard_layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
}
.nameBoard_layout_title {
  display: flex;
  flex-direction: column;
}

.nameBoard_layout_title_Name {
  color: rgb(75, 85, 99);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0%;
  z-index: 100;
}
//md:mt-0 mt-1 text-xs font-medium md:text-lg md:font-semibold
.icon {
  padding: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  --tw-blur: blur(0);
  --tw-brightness: brightness(100%);
  --tw-contrast: contrast(100%);
  --tw-grayscale: grayscale(0);
  --tw-hue-rotate: hue-rotate(0deg);
  --tw-invert: invert(0);
  --tw-saturate: saturate(100%);
  --tw-sepia: sepia(0);
  --tw-drop-shadow: none;
}

.icon:hover {
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.icon1 {
  margin-top: -1rem;
  position: relative;
}

.icon_count {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  text-align: center;
}
.icon_count_number {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1rem;
  }
  .icon1 {
    transition: ease-in-out;
    transition-duration: 100ms;
    padding: 1rem;
  }

  .icon_count {
    margin-top: 0.75rem;
  }
  .icon_count_number {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.icon_title {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .icon_title1 {
    padding-top: 0.25rem;
    // margin-top: 1rem;
  }
  .profileSection {
    margin-top: 2.5rem;
  }

  .icon_title {
    margin-top: 0px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
}
.bgDecor::before {
  overflow: hidden;
  content: '';
  position: absolute;
  height: 240px;
  width: 240px;
  border-radius: 100%;
  background-color: hsla(16, 84%, 49%, 0.793);
  top: -130px;
  right: -90px;
  // z-index: -1;
}
.bgDecor::after {
  content: '';
  position: absolute;
  height: 240px;
  width: 240px;
  border-radius: 100%;
  background-color: hsla(16, 92%, 46%, 0.75);
  bottom: -130px;
  right: -90px;
  // z-index: -1;
}
.card {
  margin: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.card_gap1 {
  justify-content: center;
  gap: 2rem;
  margin-left: 3rem;
}
.card_gap2 {
  justify-content: center;
  gap: 1.5rem;
}
.card_layout {
  background: #fff;
  height: 7rem;
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;

  --tw-blur: blur(0);
  --tw-brightness: brightness(100%);
  --tw-contrast: contrast(100%);
  --tw-grayscale: grayscale(0);
  --tw-hue-rotate: hue-rotate(0deg);
  --tw-invert: invert(0);
  --tw-saturate: saturate(100%);
  --tw-sepia: sepia(0);
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));

  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 768px) {
  .nameBoard_layout_title_Name {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .nameBoard_layout {
    flex-wrap: nowrap;
  }
}
@media (min-width: 533px) {
  .card_layout {
    height: 8rem;
    width: 8rem;
  }
}
@media (min-width: 768px) {
  .employeeNameCardActiveMenu {
    height: 10rem;
    padding: 2rem;
  }
  .card_layout {
    height: 10rem;
    width: 10rem;
  }
}
// @media (max-width: 320px) {
//   .card {
//     display: grid;
//   }
// }

// @media (min-width: 320px) {
//   .card {
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//   }
// }
@media (min-width: 1024px) {
  .profilesection_layout {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .employeecard {
    margin-top: 2.5rem;
  }
}

.activeLink {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.625rem;
  border-radius: 6px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
