.spAppAndPropertyPanelContainer .sp-appBar {
  display: none !important;
}

.root-43 {
  padding: 0 !important;
  display: none !important;
}

.CanvasComponent.LCS .CanvasZone {
  margin: 0 !important;
  padding: 0 !important;
}

.CanvasComponent.LCS .CanvasSection-col {
  margin: 0 !important;
  padding: 0 !important;
}

[dir=ltr] .CanvasComponent.LCS .Canvas--edit.Canvas--withLayout {
  margin: 0 !important;
}

/* #SuiteNavWrapper, */
.sp-appBar,
#workbenchCommandBar {
  display: none !important;
  position: fixed;
}

#workbenchPageContent {
  border: none !important;
  position: initial !important;
  margin: 0 !important;
}

.ms-Layer.ms-Layer--fixed.root-81 {
  display: none !important;
}

.m_b_8474018e {
    background-color: rgba(250, 251, 251, 1) !important;
  padding: 0px !important;
  width: 100vw
}

.ControlZone--position {
  background: none;
  padding: 0px !important;
}

.CanvasComponent.LCS .CanvasZoneContainer {
  margin: 0px !important;
}

.m_b_8474018e {
  padding: 0px !important;
}

.ControlZone-drag .ControlZone--drag-show {
  padding: 0px !important;
}

.ms-Modal,
.is-open,
.ms-Dialog root-81 {
  display: none !important;
}

.CanvasComponent.LCS .ControlZone .ControlZone--drag-show {
  display: none !important;
}

.CanvasComponent.LCS .CanvasToolboxHint {
  display: none !important;
}

.i_a_8474018e {
  max-width: 100vw !important;
}

.CanvasComponent.LCS .CanvasZone {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.CanvasComponent.LCS .CanvasZone:not(.CanvasZone--fullWidth) .ControlZone {
  padding: 0px !important;
}

.g_a_7caff1a1 {
  display: none !important;
}

#sbcId {
  display: none;
}

.CanvasComponent.LCS .ControlZone .ControlZone-drag,
.CanvasComponent.LCS .ControlZone .ControlZone-move {
  position: initial !important;
}

.CanvasComponent.LCS .ControlZone.ControlZone--clean.ControlZone--overlay:after {
  cursor: default;
  pointer-events: auto;
}

.root-70::after {
  border: 0px !important
    /* border: 1px solid rgb(161, 159, 157); */
}

.CanvasComponent.LCS .CanvasSection-col {
  min-height: 0px !important;
}

.CanvasComponent.LCS .row:after {
  clear: none !important
}

.CanvasComponent.LCS .CanvasZoneContainer.CanvasZoneContainer--selected:before,
.CanvasComponent.LCS .CanvasZoneContainer:not(.CanvasZoneContainer--read):hover:before {
  border: none !important;
}

.CanvasComponent.LCS .ControlZone.ControlZone--edit.ControlZone--selected .CanvasControlToolbar,
.CanvasComponent.LCS .ControlZone.ControlZone--edit.ControlZone--selected:after,
.CanvasComponent.LCS .ControlZone.ControlZone--edit:focus .CanvasControlToolbar,
.CanvasComponent.LCS .ControlZone.ControlZone--edit:focus:after,
.CanvasComponent.LCS .ControlZone.ControlZone--edit:hover .CanvasControlToolbar,
.CanvasComponent.LCS .ControlZone.ControlZone--edit:hover:after {
  opacity: 0 !important;
}

.CanvasComponent.LCS .ControlZone:after {
  bottom: 0;
  content: "initial" !important;
  left: 0;
  pointer-events: none;
  position: relative !important;
  right: 0;
  top: 0;
}

.n_b_8474018e {
  overflow: hidden !important;
}

.k_c_8474018e{
  padding:0px !important;
  overflow:hidden !important;
}
.f_a_8474018e,.r_c_8474018e{
  overflow: hidden !important;
}
#spLeftNav,#spTopPlaceholder,.sq_bm_ada2ac09,.headerRow-102,.tm_bs_ada2ac09{
  display:none !important;
}
.a_e_50a7110f:not(.b_e_50a7110f):not(.i_e_50a7110f),.a_e_50a7110f:not(.b_e_50a7110f):not(.i_e_50a7110f){
  padding:0px !important; margin:0px !important;
}

.a_c_50a7110f:not(.b_c_50a7110f){
  padding:0px !important;
  margin:0px !important;
}
.k_c_8474018e,.a_a_50a7110f:not(.b_a_50a7110f) {
  padding: 0px !important;
  overflow: hidden !important;
}
.j_a_beed2cf1,.a_c_50a7110f:not(.b_c_50a7110f){
  margin:0px !important;
  padding:0px !important;
}
.navbar_a153a140
{ width: 94.5% !important; }

.commandBarWrapper.qp_be_ada2ac09{
  display:none !important
}
.mainSection_a153a140{
  width:100% !important;
 height:100% !important;
}
