.n_b_8474018e {
  overflow-y: hidden !important;
  display: none !important;
}

button {
  cursor: pointer !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.mainSection {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

}

.mainSection::-webkit-scrollbar {
  display: none;
}

.components {
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.sideBar {
  z-index: 50;
  position: fixed;
}

.sideBar1 {
  width: 0;
  background: transparent;
}

.section {
  width: 100%;
  background-color: rgba(250, 251, 251, 1);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 40;
  background-color: rgba(250, 251, 251, 1);
}



.navbar_section_1 {
  flex: 1 1 0;
}

@media (min-width: 900px) {
  .navbar {
    position: static;
  }

  .navbar_section {
    margin-left: 14rem;
  }
}

@media (max-width: 800px) {
  .sideBar {
    z-index: 50;
  }
}