.n_b_8474018e {
  overflow-y: hidden !important;
  display: none !important;
}
button {
  cursor: pointer !important;
}
.mainSection {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sideBar {
  z-index: 10;
  position: fixed;
}

.sideBar1 {
  width: 0;
  background: transparent;
}

.section {
  width: 100%;
  background-color: rgba(250, 251, 251, 1);
}

.navbar {
  position: static;
  width: 100%;
  z-index: 10;
  background-color: rgba(250, 251, 251, 1);
}

.navbar_section_1 {
  flex: 1 1 0;
}

@media (min-width: 900px) {
  .navbar {
    position: static;
  }
  .navbar_section {
    margin-left: 14rem;
  }
}

@media (max-width: 800px) {
  .sideBar {
    z-index: 11;
  }
}
